// COLORS

// primary colors
$color-text-primary: #13182C;    // instock black
$color-interactive-elements: #2E66E5;    // instock indigo
$color-global-white: #FFFFFF;    // white

// secondary colors
$color-text-secondary: #5C667E;  // slate
$color-outlines-dividers: #BDC5D5;   // cloud

// background colors
$color-cta-and-background: #232940;  // graphite
$color-background-primary: #F7F8F9;  // light-grey

// stock colors
$color-in-stock: #158463;   // green
$color-out-of-stock: #C94515;   // red


//  breakpoints

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;