@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 35%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(0, 0, 0, 1)
    ),
    url("../../assets/images/borneo-jungle-deforestation.jpeg");
  height: 40rem;
  width: 100%;
  border-bottom: black;
  background-position: center;
  background-size: cover;

  &__counter {
    color: #04bfbf;
    @include font-bold;
  }

  &__text {
    font-size: 3rem;
    @include font-bold;
    padding: 1rem;
    color: #ffffff;
  }
}
