@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

 body {
  background-color: black;
 }

.card-container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
